import React from 'react'
import ReactDOM from 'react-dom/client'
{{#hasRouter}}
import { BrowserRouter } from 'react-router-dom'
{{/hasRouter}}
{{#hasRedux}}
import { Provider } from 'react-redux'
import { store } from './store'
{{/hasRedux}}
{{#hasReactQuery}}
import { QueryClient, QueryClientProvider } from '@tanstack/react-query'
import { ReactQueryDevtools } from '@tanstack/react-query-devtools'
{{/hasReactQuery}}
{{#hasAntd}}
import { ConfigProvider, theme } from 'antd'
{{/hasAntd}}
import App from './App'
{{#hasAntd}}
{{#hasTailwind}}
import './index.css'
{{/hasTailwind}}
{{^hasTailwind}}
{{#hasScss}}
import './index.scss'
{{/hasScss}}
{{^hasScss}}
import './index.css'
{{/hasScss}}
{{/hasTailwind}}
{{/hasAntd}}
{{^hasAntd}}
{{#hasTailwind}}
import './index.css'
{{/hasTailwind}}
{{^hasTailwind}}
{{#hasScss}}
import './index.scss'
{{/hasScss}}
{{^hasScss}}
import './index.css'
{{/hasScss}}
{{/hasTailwind}}
{{/hasAntd}}

{{#hasReactQuery}}
const queryClient = new QueryClient()
{{/hasReactQuery}}

ReactDOM.createRoot(document.getElementById('root')!).render(
  <React.StrictMode>
    {{#hasReactQuery}}
    <QueryClientProvider client={queryClient}>
    {{/hasReactQuery}}
    {{#hasRedux}}
    <Provider store={store}>
    {{/hasRedux}}
    {{#hasAntd}}
    <ConfigProvider
      theme={{{antdThemeConfig}}}
    >
    {{/hasAntd}}
    {{#hasRouter}}
    <BrowserRouter>
    {{/hasRouter}}
      <App />
    {{#hasRouter}}
    </BrowserRouter>
    {{/hasRouter}}
    {{#hasAntd}}
    </ConfigProvider>
    {{/hasAntd}}
    {{#hasRedux}}
    </Provider>
    {{/hasRedux}}
    {{#hasReactQuery}}
      <ReactQueryDevtools initialIsOpen={false} />
    </QueryClientProvider>
    {{/hasReactQuery}}
  </React.StrictMode>,
)
